html{
    background-color: rgb(19, 19, 19);
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
    font-family:'Roboto', sans-serif;
}

header {
    z-index: 10;
    width: 980px;
    position: relative;
    margin: auto;    
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    position: absolute;
}
#menu ul {
    position: absolute;
    top: 0;
    right: 0;
}
#menu ul li {
    height: 100%;
    padding: 0;
}
#menu ul li a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 4rem 1rem 1rem 1rem;
}
#menu ul li a:hover , #menu ul li a[href="#"]{
    background: #C65300;
}


a {
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 100.9%;
    letter-spacing: 0.25em;
    width: 10%;
    transition: all 0.2s ease;

}

h1 {
    font-weight: 100;
    font-size: 50px;
    line-height: 100.9%;
    color: #FFFFFF;
}

h2 {
    font-weight: 800;
    font-size: 130px;
    line-height: 100.9%;
    color: #F2F2F2;
}

ul {
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

.margin-center {
    width: 980px;
    margin: auto;
}

.head-section{
    height: 100vh;
    display: flex;
    z-index: -3;
}

.head-background{
    opacity: 15%;
    filter: blur(2px);
}

.title-head{
    display: flex;
    flex-direction: column;
}

.head-background {
    z-index: -100;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 0;
    position: absolute;
}

p , figcaption {
    font-weight: 400;
    font-size: 2rem;
    line-height: 122%;
    color: #F2F2F2;
}

h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 100.9%;    

    color: #646464; 
    margin-bottom: 20px;
}

.box-princ{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.column-2 {
    width: 55%;
}

.distance{
    padding: 5% 0;
}

.description-section .box-princ{
    width: 70%;
    margin: auto;
}

.center-box{
    align-items: center;
}

.column-3 {
    width: 50%;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

span{
    width: 71px;
    height: 4px;

    background: #C65300;;
    margin-bottom: 20px;
}

.just-center{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    color: #a9a9a9;
}

h4 {
    font-weight: 800;
    font-size: 93px;
    line-height: 92.9%;
    /* identical to box height, or 101px */
    display: flex;
    align-items: center;
    text-align: center;
    color: #858585;
    background-color: transparent;
    position: relative;
    z-index: 2;
}

h4:hover{
    color: white;
}

.filter-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 122%;
    text-transform: uppercase;

    /* COLOR */

    color: #C65300;
    padding-bottom: 3%;
}

h6{
    font-weight: 300;
    font-size: 24px;
    line-height: 122%;
    text-transform: uppercase;

    color: #FFFFFF;
}

.text-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0 6%;
}

.imgstatic-section {
    display: flex;
    justify-content: space-between;}

.act-img {
    width: 49%;
}

#menu2 {
    width: 100%;
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

#menu2 span{
    width: 41px;
    height: 1px;
    background: #C65300;
}

#menu2 nav ul li {
    padding-left: 0;
}

.copy-footer{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 122%;
    justify-content: center;
    color: #736B6B;
}

footer > .distance{
    padding-bottom: 0;
}


/*    WORK.HTML    */
.filter-work {
    padding-top: 10%;
    position: relative;
}
.filter-work div ul{
    justify-content: space-between;
    position: absolute;
}
.filter-work div ul li{
    padding: 0;
    position: relative;
}
.filter-work div ul li a{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 1rem 2rem;
    position: relative;
    width: 100%;
    display: block;
}


.contenedorgaleria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formatoimagen{
    width: 80%;
    margin-top: -5rem;
    z-index: 0;
}


[class^="trigger"]
{
   position:relative;
   z-index:0;
 }


[id^="pop-up"]
 {
    display: none;
    position: absolute;
    z-index: 0;
  }


/*   en el caso de dar funcionamiento a la navegacion de work con una clase active   */
section.filter-work.margin-center.distance ul a.active , section.filter-work.margin-center.distance ul a:hover {
    font-weight: 600;
}
section.filter-work.margin-center.distance ul a:after{
    width: 0;
    display: block;
    content: "";
    background: #c65300;
    height: 0.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
}
section.filter-work.margin-center.distance ul a.active:after , section.filter-work.margin-center.distance ul a:hover:after {
    width: 100%;
}

/* Work galeria con grid */
.gallery h2 {
    text-transform: uppercase;
    color: #888;
    font-size: 6.4rem;
}
.gallery .grid ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.gallery .grid li{
    position: relative;
}
.gallery .grid li:nth-child(1),
.gallery .grid li:nth-child(5), 
.gallery .grid li:nth-child(10),
.gallery .grid li:nth-child(17),
.gallery .grid li:nth-child(23),
.gallery .grid li:nth-child(22){
    grid-column: 1 / span 4;
}
.gallery .grid li:nth-child(2) {
    grid-column: 5 / span 2;
}
.gallery .grid li:nth-child(3),.gallery .grid li:nth-child(14), .gallery .grid li:nth-child(16),.gallery .grid li:nth-child(21), .gallery .grid li:nth-child(27){
    grid-column: 7 / span 2;
}
.gallery .grid li:nth-child(4){
    grid-column: 1 / span 8;
}
.gallery .grid li:nth-child(6),.gallery .grid li:nth-child(11),.gallery .grid li:nth-child(18),.gallery .grid li:nth-child(24){
    grid-column:5 / span 4;
}
.gallery .grid li:nth-child(7),
.gallery .grid li:nth-child(12),
.gallery .grid li:nth-child(25),
.gallery .deportes li:nth-child(8) figure{
    grid-column: 1 / span 2;
}
.gallery .grid li:nth-child(8),
.gallery .deportes li:nth-child(9) figure {
    grid-column: 3 / span 3;
}
.gallery .grid li:nth-child(9),
.gallery .deportes li:nth-child(10) figure{
    grid-column: 6 / span 3;
}
.gallery .grid li:nth-child(13),.gallery .grid li:nth-child(26){
    grid-column: 3 / span 4;
}
.gallery .grid li:nth-child(15){
    grid-column: 1 / span 6;
}
.gallery .grid li:nth-child(19){
    grid-column: 1 / span 3;
}
.gallery .grid li:nth-child(20){
    grid-column: 4 / span 3;
}

.gallery .especiales li:nth-child(1),
.gallery .internacionales li:nth-child(3),
.gallery .deportes li:nth-child(3)
{
    grid-column: 1 / span 8;
}

.gallery .especiales li:nth-child(2){
    grid-column: 1 / span 4;
}

.gallery .especiales li:nth-child(3),
.gallery .grid li:nth-child(23){
    grid-column: 5 / span 4;
}

.gallery .otros li:nth-child(1),
.gallery .deportes li:nth-child(1),
.gallery .internacionales li:nth-child(1),
.gallery .deportes li:nth-child(4),
.gallery .deportes li:nth-child(11){
    grid-column: 1 / span 4;
}

.gallery .otros li:nth-child(2),
.gallery .deportes li:nth-child(2),
.gallery .internacionales li:nth-child(2),
.gallery .deportes li:nth-child(5),
.gallery .deportes li:nth-child(12){
    grid-column: 5 / span 4;
}

.gallery .otros li:nth-child(3),
.gallery .deportes li:nth-child(6){
    grid-column: 1 / span 6;
}

.gallery .otros li:nth-child(4),
.gallery .deportes li:nth-child(7) {
    grid-column: 7 / span 2;
}

.gallery .deportes li:nth-child(8) {
    grid-column: 1 / span 2;
}

.gallery .deportes li:nth-child(9) {
    grid-column: 3 / span 3;
}

.gallery .deportes li:nth-child(10) {
    grid-column: 6 / span 3;
}

/* colocacion imagenes */
.gallery .grid li figure {
    position: relative;
    overflow: hidden;
    min-height: 27rem;
}
.gallery .grid li figure img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
   
    left: 0;
}

.gallery .especiales li:nth-child(2) figure img,
.gallery .especiales li:nth-child(3) figure img,
.gallery .otros li:nth-child(2) figure img,
.gallery .otros li:nth-child(3) figure img,
.gallery .internacionales li:nth-child(2) figure img,
.gallery .internacionales li:nth-child(3) figure img,
.gallery .deportes li:nth-child(3) figure img, 
.gallery .deportes li:nth-child(2) figure img,
.gallery .deportes li:nth-child(12) figure img {
    left: 0;
}

.gallery .otros li:nth-child(1) figure img,
.gallery .otros li:nth-child(2) figure img,
.gallery .grid li:nth-child(1) figure img,
.gallery .grid li:nth-child(5) figure img,
.gallery .grid li:nth-child(6) figure img,
.gallery .grid li:nth-child(10) figure img,
.gallery .grid li:nth-child(11) figure img,
.gallery .grid li:nth-child(17) figure img,
.gallery .grid li:nth-child(18) figure img,
.gallery .grid li:nth-child(22) figure img,
.gallery .grid li:nth-child(23) figure img,
.gallery .internacionales li:nth-child(1) figure img,
.gallery .internacionales li:nth-child(2) figure img,
.gallery .especiales li:nth-child(2) figure img,
.gallery .especiales li:nth-child(3) figure img,
.gallery .deportes li:nth-child(1) figure img,
.gallery .deportes li:nth-child(2) figure img,
.gallery .deportes li:nth-child(11) figure img,
.gallery .deportes li:nth-child(12) figure img {
    width: 100%;
}

.gallery .grid li:nth-child(4) figure,
.gallery .especiales li:nth-child(1) figure,
.gallery .internacionales li:nth-child(3) figure,
.gallery .deportes li:nth-child(3) figure {
    min-height: 56rem;
}
.gallery .grid li:nth-child(15) figure,
.gallery .grid li:nth-child(16) figure,
.gallery .otros li:nth-child(3) figure,
.gallery .otros li:nth-child(4) figure,
.gallery .deportes li:nth-child(6) figure,
.gallery .deportes li:nth-child(7) figure {
    min-height: 42rem;
}

.gallery .deportes li:nth-child(4) figure,
.gallery .deportes li:nth-child(5) figure {
    min-height: 27rem;
}

.gallery .grid li:nth-child(2) img ,
.gallery .grid li:nth-child(3) img ,
.gallery .grid li:nth-child(7) img,
.gallery .grid li:nth-child(12) img,
.gallery .grid li:nth-child(25) img ,
.gallery .grid li:nth-child(3) img,
.gallery .grid li:nth-child(14) img,
.gallery .grid li:nth-child(16) img, 
.gallery .grid li:nth-child(27) img,
.gallery .grid li:nth-child(21) img,
.gallery .deportes li:nth-child(8) img
{
    left: -50%;
}

.gallery .deportes li:nth-child(9) img {
    left: -20%;
}

.gallery .otros li:nth-child(4) img {
    left: -91%;
}

.gallery .grid li p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    margin-top: 4rem;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 1.4rem;
    width: 50%;
    min-width: 230px;
}
.gallery .grid li:hover p {
    opacity: 0.8;
}
.gallery .grid li figcaption{
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    top: 0;
    background: #131313;
    
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
}
.gallery .grid li:hover figcaption {
    opacity: 0.7;
}

.gallery .grid li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%;
}

#noticias, #radio, #television, #otros, #deportes {
    padding-top: 5rem;
}

.noticias-inter .subtitular,
.noticias-especiales .subtitular {
    padding-top: 5rem;
}

.hidden {display:none}

.subtitular{
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
}

.subtitular h2{
    padding-left: 2rem;
}

.cube {
    width: 3rem;
    height: 6rem;
    background: #C65300;
    margin-bottom: 0;
}

img:hover {
    object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

