*{
    background-color: rgb(19, 19, 19);
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
    font-family:'Roboto', sans-serif;
}

header {
    z-index: 10;
    width: 980px;
    position: relative;
    margin: auto;    
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    position: absolute;
}

a {
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 100.9%;
    letter-spacing: 0.3em;
    width: 10%;
    transition: all 0.2s ease;
    /* &:hover {
        color: #D25000;
      }
      &.active {
        color: #D25000;
      } */
}

h1 {
    font-weight: 100;
    font-size: 50px;
    line-height: 100.9%;

    color: #FFFFFF;
}

h2 {
    font-weight: 800;
    font-size: 130px;
    line-height: 100.9%;

    color: #F2F2F2;
}

ul {
    display: flex;
    align-items: center;
}

li {
    padding-left: 15px;
}

img {
    width: 100%;
}

.margin-center {
    width: 980px;
    margin: auto;
}

.head-section{
    height: 100vh;
    display: flex;
    z-index: -3;
}

.title-head{
    display: flex;
    flex-direction: column;
}

.head-background {
    z-index: -100;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 0;
    position: absolute;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 122%;

    color: #F2F2F2;
}

h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 100.9%;    

    color: #646464; 
    margin-bottom: 20px;
}

.box-princ{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column-2 {
    width: 55%;
}

.distance{
    padding: 5% 0;
}

.description-section .box-princ{
    width: 70%;
    margin: auto;
}

.column-3 {
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.linea{
    width: 71px;
    height: 4px;

    background: #3E3E3E;
    margin-bottom: 20px;
}

.just-center{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h4 {
    font-weight: 800;
    font-size: 93px;
    line-height: 92.9%;
    /* identical to box height, or 101px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #585858;
}

.filter-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 122%;
    text-transform: uppercase;

    /* COLOR */

    color: #C65300;
    padding-bottom: 3%;
}

h6{
    font-weight: 300;
    font-size: 24px;
    line-height: 122%;
    text-transform: uppercase;

    color: #FFFFFF;
}

.text-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0 6%;
}

.imgstatic-section {
    display: flex;
    justify-content: space-between;}

.act-img {
    width: 49%;
}

#menu2 {
    width: 100%;
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

#menu2 span{
    width: 41px;
    height: 1px;

    background: #C65300;
}

#menu2 nav ul li {
    padding-left: 0;
    padding-right: 15px;
}

.copy-footer{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 122%;
    justify-content: center;
    color: #736B6B;
}

footer > .distance{
    padding-bottom: 0;
}



/*    WORK.HTML    */

.filter-work div ul li a{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;


    color: #FFFFFF;
    padding: 15px 10px;
    position: relative;
}

.filter-work div ul li a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.filter-work div ul li a:hover:after{
    width: 100%; 
    left: 0;  
}



.filter-work div ul li{
    padding: 0;

    display: table-cell; 
    position: relative;     
}

.filter-work div ul{
    justify-content: space-between;
}


.filter-work {
    padding-top: 10%;
}


/* ABOUT */

.head-section-about {
    display: flex;
    flex-wrap: wrap;
    padding-top: 18vh;
}

.h1About {
    font-weight: 800;
    font-size: 240px;
    line-height: 100.9%;

    color: #F3F3F3;
}

.h2About {
    width: 70%;
    font-weight: 400;
    font-size: 30px;
    line-height: 122%;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.columns-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.columns-3 figure {
    width: 33,33%;
    padding: 10px;
} 

.columns-3 figcaption {
    justify-content: center;
    text-align: center;
    color: white;
    display: flex;
} 

.history,
.team {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.history h2,
.team h2 {
    font-size: 68px;
}

.team .columns-3 {
    width: 80%;
}

.team .columns-3 img {
    border-radius: 100%;
    width: 80%;
}